In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         2 mins 22 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    10 days
H2O_cluster_name:           H2O_started_from_R_mchee_efd853
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    679 Mb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null, "no": "192.168.99.100"}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [3]:
url="http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"

In [4]:
iris=h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
train,test=iris.split_frame([0.8])

In [7]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.784745762711865,3.041525423728813,3.7449152542372883,1.1966101694915252,
maxs,7.9,4.4,6.7,2.5,
sigma,0.813941252278921,0.4340873658936083,1.7190037592689278,0.7621306395169853,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [10]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator
mdl=H2ODeepLearningEstimator()

In [11]:
mdl.train(["sepal_len","sepal_wid","petal_len","petal_wid"],"class",train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [12]:
mdl

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1586842553388_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,180 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00391176,0.00309794,0,0.000853653,0.107614,0.487261,0.013048
2,,3,200,Rectifier,0,0,0,0.0211475,0.0758328,0,-0.000852715,0.0701173,0.998036,0.00651891
3,,4,3,Softmax,,0,0,0.0157985,0.0911498,0,-0.0197468,0.388987,0.0132072,0.0215155

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.032037438068193064
RMSE: 0.1789900501932805
LogLoss: 0.09693976718084447
Mean Per-Class Error: 0.05128205128205129

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         38.0              0.0             0.0  0.000000   0 / 38
1          0.0             41.0             0.0  0.000000   0 / 41
2          0.0              6.0            33.0  0.153846   6 / 39
3         38.0             47.0            33.0  0.050847  6 / 118

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.949152
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-04-14 11:40:57,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-04-14 11:40:57,0.503 sec,867 obs/sec,1.0,1,118.0,0.409384,0.821366,0.743137,0.194915
2,,2020-04-14 11:40:58,1.365 sec,1215 obs/sec,10.0,10,1180.0,0.178990,0.096940,0.950898,0.050847

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.293378
1  petal_len             0.871862           0.871862    0.255785
2  sepal_len             0.780535           0.780535    0.228992
3  sepal_wid             0.756173           0.756173    0.221845

In [13]:
p=mdl.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [14]:
mdl.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.06169885270136214
RMSE: 0.24839253753154933
LogLoss: 0.32059168372713603
Mean Per-Class Error: 0.06060606060606061

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         12.0              0.0             0.0  0.000000  0 / 12
1          0.0              9.0             0.0  0.000000   0 / 9
2          0.0              2.0             9.0  0.181818  2 / 11
3         12.0             11.0             9.0  0.062500  2 / 32

Top-3 Hit Ratios:

   k  hit_ratio
0  1     0.9375
1  2     1.0000
2  3     1.0000